@model FilmCreateViewModel

    <form asp-controller="Film" asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReleaseDate">Release Date</label>
            <input type="date" asp-for="ReleaseDate" />
            <span class="text-danger" asp-validation-for="ReleaseDate"></span>
        </div>
        <div class="form-group">
            <label asp-for="Director"></label>
            <input asp-for="Director" />
        </div>
        <div class="form-group">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" />
        </div>
        <div class="form-group">
            <label asp-for="Genres">Genre</label>
            <select asp-for="@Model.SelectedGenreId" asp-items="@Model.Genres">
            </select>
            <span class="text-danger" asp-validation-for="SelectedGenreId"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContentUrl"></label>
            <input asp-for="ContentUrl" />
        </div>
        <div class="form-group">
            <label asp-for="Public">Accessibility</label>
            <select class="form-control" asp-for="Public" asp-items="@Model.PublicStatus"></select>
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control" />
        </div>
        <button class="btn-success" type="submit">Create</button>
    </form>