@model MediaDeleteViewModel

<strong>Are you sure you want to delete the film @Model.Title on released @Model.ReleaseDate.ToShortDateString()?</strong>

<form asp-controller="Film" asp-action="ConfirmDelete" method="post" asp-route-id="@Model.Id">
    <button class=" btn-danger" type="submit">Yes</button>
</form>

<a asp-controller="Film" asp-action="Index">Back to film overview</a>