@model MediaApp.Models.Create.PodcastCreateViewModel
<div class="container">
    <div class="row">
        <div class="col-12" align="center">
            <h1>Create a podcast</h1>
        </div>
    </div>
    <form asp-controller="Podcast" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-2" align="right">
                <label asp-for="Title"></label>
            </div>
            <div class="col-4" align="left">
                <input asp-for="Title" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="col-2" align="right">
                <label asp-for="ReleaseDate">Release Date</label>
            </div>
            <div class="col-4" align="left">
                <input type="date" asp-for="ReleaseDate" />
                <span class="text-danger" asp-validation-for="ReleaseDate"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2" align="right">
                <label asp-for="Organisation"></label>
            </div>
            <div class="col-4" align="left">
                <input asp-for="Organisation" />
            </div>
            <div class="col-2" align="right">
                <label asp-for="Duration"></label>
            </div>
            <div class="col-4" align="left">
                <input asp-for="Duration" />
            </div>
        </div>
        <div class="row">
            <div class="col-2" align="right">
                <label asp-for="Genres">Genre</label>
            </div>
            <div class="col-4" align="left">
                <select class="browser-default custom-select" asp-for="@Model.SelectedGenreId" asp-items="@Model.Genres">
                </select>
                <span class="text-danger" asp-validation-for="SelectedGenreId"></span>
            </div>
            <div class="col-2" align="right">
                <label asp-for="ContentUrl">Link to content</label>
            </div>
            <div class="col-4" align="left">
                <input asp-for="ContentUrl" />
            </div>
        </div>
        <div class="row">
            <div class="col-2" align="right">
                <label>Accessibility</label>
            </div>
            <div class="col-4" align="left">
                @Html.RadioButtonFor(m => m.Public, "true") <span>Public</span>
                @Html.RadioButtonFor(m => m.Public, "false") <span>Private</span>
            </div>
            <div class="col-2" align="right">
                <label asp-for="Photo"></label>
            </div>
            <div class="col-4" align="left">
                <input asp-for="Photo" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-6" align="right">
                <button type="button" class="btn btn-dark" onclick="Return()">Cancel</button>
            </div>
            <div class="col-6" align="left">
                <button class="btn btn-info" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
<script>
    function Return() {
        window.location.href = "/Podcast/Index";
    }
</script>
<style>
    .col-4 >*{
        width: 100%;
    }
    #Public{
        width: 10%;
    }
    .row{
        margin-top: 3%;
    }
</style>